{% extends 'base.html' %}

{% block title %} {{ building["title"] }} {% endblock %}

{% block content %}

<div class="container detail-page">

    <a href="/" class="btn btn-outline-dark back-btn">⬅ Back</a>

    <div class="detail-card">

        <div class="detail-row">

            <div class="detail-img-box">
                <img src="/static/images/{{ building['image'] }}" class="detail-img">
            </div>

            <div class="detail-content">

                <h1 class="detail-title">{{ building["title"] }}</h1>

                <div class="detail-line"></div>

                <p class="detail-text">
                    {{ building["full_text"] }}
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}