{% extends 'base.html' %}

{% block title %} {{ georgian["title"] }} {% endblock %}

{% block content %}

<div class="container py-5">


    <a href="/" class="btn btn-outline-dark mb-4">
        ⬅ Back
    </a>

    <div class="row shadow-lg rounded-4 overflow-hidden bg-white">

        <div class="col-md-6 p-0">
            <img src="/static/images/{{ georgian['image'] }}"
                 style="width:100%; height:100%; object-fit:cover;">
        </div>

        <div class="col-md-6 p-5 d-flex flex-column justify-content-center">

            <h1 class="fw-bold mb-3">{{ georgian["title"] }}</h1>

            <div style="width:80px; height:4px; background:#dca14f; margin-bottom:20px;"></div>

            <p style="font-size:17px; line-height:1.7; color:#444;">
                {{ georgian["full_text"] }}
            </p>

        </div>

    </div>

</div>

{% endblock %}